<?xml version="1.0" encoding="utf-8"?>
<settings>
  <serversettings>
    <machine>
      <key>XBoOLMopK6+KVqdpUdhc7Q==</key>
      <database>
        <name>GenPres</name>
        <GenPresConnectionString>nPfQkqu6V7g92YIxNgk5ih+Ze5OMHcb6hnA6CMQA5Itjou/0Cvsp6V1ki/TdE5+J52T5fiURAbvus5laV/XRVB5IM5tGl608LHD0whcW+G8=</GenPresConnectionString>
        <PdmsConnectionString>nPfQkqu6V7g92YIxNgk5ih+Ze5OMHcb6hnA6CMQA5IsW0LUsvHUz1Ct61wYRjLylE58oI6nlcyZbDgNCrQ8si5DGX3VmmzJ+EBHESV+WcXA=</PdmsConnectionString>
        <GenFormWebservice>7HSjHgEqTGQO06kfDcQcAiwYWHXwDc6//6zsG17OKqXNB7iPaBpboa39wYyP+uNi</GenFormWebservice>
      </database>
    </machine>
    <machine>
      <key>XBoOLMopK6+KVqdpUdhc7Q==</key>
      <database>
        <name>TestDatabase</name>
        <GenPresConnectionString>nPfQkqu6V7g92YIxNgk5ih+Ze5OMHcb6hnA6CMQA5Itjou/0Cvsp6V1ki/TdE5+J52T5fiURAbvus5laV/XRVB5IM5tGl608LHD0whcW+G8=</GenPresConnectionString>
        <PdmsConnectionString>nPfQkqu6V7g92YIxNgk5ih+Ze5OMHcb6hnA6CMQA5IsW0LUsvHUz1Ct61wYRjLylE58oI6nlcyZbDgNCrQ8si5DGX3VmmzJ+EBHESV+WcXA=</PdmsConnectionString>
        <GenFormWebservice>7HSjHgEqTGQO06kfDcQcAiwYWHXwDc6//6zsG17OKqXNB7iPaBpboa39wYyP+uNi</GenFormWebservice>
      </database>
    </machine>
  </serversettings>
</settings>