
GenPres.Web/Client/Library/extjs
GenPres.Web/Client/Library/Library2
GenPres.Web/Client/Library/platform
Enterprise.Data/bin
Enterprise.Data/obj
Enterprise.Services/bin
Enterprise.Services/obj
GenPres.Test.Acceptance/bin
GenPres.Test.Acceptance/obj
GenPres.Test.Integration/bin
GenPres.Test.Integration/obj
GenPres.Test.Unit/bin
GenPres.Test.Unit/obj
GenPres.Database/bin
GenPres.Database/obj
GenPres.Business/bin
GenPres.Business/obj
GenPres.ObjectModel/bin
GenPres.ObjectModel/obj
GenPres.Settings/bin
GenPres.Settings/obj
*.user
*.suo
*.sln.cache
GenPres.Settings/SecurityKey.cs
Thumbs.db
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
xAdapter.Test.Unit/obj