GenPres.Database/bin
GenPres.Database/obj
GenPres.Framework/bin
GenPres.Framework/obj
GenPres.ObjectModel/bin
GenPres.ObjectModel/obj
GenPres.Test/bin
GenPres.Test/obj
GenPres.PrescriptionCalculator/bin
GenPres.PrescriptionCalculator/obj
*.vsmdi
*.suo
*.testrunconfig
*.sln.cache
GenPres.Settings/SecurityKey.cs