<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
<meta http-equiv="X-UA-Compatible" content="IE=100" >
<html>
<head id="Head1" runat="server">
    
    <style>
        
    </style>

    <title><asp:ContentPlaceHolder ID="TitleContent" runat="server" /></title>
    
    <link rel="stylesheet" type="text/css" href="<%= Url.Content("~/Client/Library/extjs/resources/css/ext-all.css") %>" /> 
    <link rel="stylesheet" type="text/css" href="<%= Url.Content("~/Client/GenPres/style/css/GenPres.css") %>" /> 
    
    <link rel="stylesheet" type="text/css" href="<%= Url.Content("~/Client/Tests/lib/jasmine-1.0.2/jasmine.css")  %>" />
    
    <script type="text/javascript" src="<%= Url.Content("~/Client/Tests/lib/jasmine-1.0.2/jasmine.js")  %>"></script>
    <script type="text/javascript" src="<%= Url.Content("~/Client/Tests/lib/jasmine-1.0.2/jasmine-html.js")  %>"></script>

    <script type="text/javascript" src="<%= Url.Content("~/Client/Library/ext-all-debug.js")  %>"></script>
    
    <script type="text/javascript" src="<%= Url.Content("~/Direct/Api") %>"></script>
    
    <script type="text/javascript">        Ext.Direct.addProvider(Ext.app.REMOTING_API);</script>

</head>

<body style="margin: 0px 0px 0px 0px;">
    <div style="z-index:2222222;" id="topzindexdiv"></div>
    <div class="page">

        </div>

        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
                
            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
