<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <appSettings>
        <add key="CultureToUse" value="en-US" />
        <add key="CslaAutoCloneOnUpdate" value="false" />
    </appSettings>
    <applicationSettings>
        <GenPres.Business.Properties.Settings>
            <setting name="GenPres_Business_GenForm_Products_Products" serializeAs="String">
                <value>http://localhost/GenForm/Products.asmx</value>
            </setting>
        </GenPres.Business.Properties.Settings>
    </applicationSettings>
</configuration>