<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="CultureToUse" value="en-US" />
      <add key="CslaAutoCloneOnUpdate" value="false"/>
    </appSettings>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenPres.Business.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GenPres.Business.Properties.Settings>
            <setting name="GenPres_Business_GenForm_Products_Products" serializeAs="String">
                <value>http://localhost/GenForm/Products.asmx</value>
            </setting>
        </GenPres.Business.Properties.Settings>
    </applicationSettings>
</configuration>