<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GenPres.Database.Properties.Settings.GenPresConnectionString" connectionString="Data Source=mv2004\testtraining;Initial Catalog=GenPres;User ID=mvadmin;Password=sysimd" providerName="System.Data.SqlClient"/>
        <add name="GenPres.Database.Properties.Settings.GenPresConnectionString1" connectionString="Data Source=localhost;Initial Catalog=GenPres;User ID=sa;Password=838839713" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
