<suiteConfig>
  <ApplicationUnderTest>
    <AddAssembly>C:\Development\GenPres\GenPresBuild\Informedica.GenPres.xTest.Acceptance.dll</AddAssembly>
    <AddNamespace>GenPres.xTest.Acceptance</AddNamespace>
  </ApplicationUnderTest>
  <Settings>
    <ApartmentState>MTA</ApartmentState>
    <Behavior>std</Behavior>
    <CodePage>1252</CodePage>
    <InputFolder>myInput</InputFolder>
    <OutputFolder>myOutput</OutputFolder>
    <Runner>fitSharp.Slim.Service.Runner</Runner>
    <XmlOutput>myResult.xml</XmlOutput>
  </Settings>
  <FileExclusions>
    <Add>^\.svn$</Add>
  </FileExclusions>
  <Slim.Operators>
  </Slim.Operators>
  <Fit.Operators>
  </Fit.Operators>
</suiteConfig>