<?xml version="1.0" encoding="utf-8" ?>
<suiteConfig>
  <ApplicationUnderTest>
    <AddAssembly>C:\Development\GenPres\GenPres.xTest.Acceptance\bin\Debug\GenPres.xTest.Acceptance.dll</AddAssembly>
    <AddNamespace>GenPres.xTest.Acceptance</AddNamespace>
    <AddNamespace>NHibernate</AddNamespace>
    <AddNamespace>FluentNHibernate</AddNamespace>
    <AddNamespace>fitsharp</AddNamespace>
    <AddAssembly>C:\Development\fitnesse\fitsharp\fitSharp.dll</AddAssembly>
    
    <AddAssembly>C:\Development\GenPres\Dependencies\NHibernate3.2\FluentNHibernate.dll</AddAssembly>
    <AddAssembly>C:\Development\GenPres\GenPres.xTest.Acceptance\bin\Debug\NHibernate.dll</AddAssembly>
  </ApplicationUnderTest>
  
  <Settings>
    <ApartmentState>STA</ApartmentState>
    <Behavior>std</Behavior>
    <CodePage>1200</CodePage>
    <InputFolder>myInput</InputFolder>
    <OutputFolder>myOutput</OutputFolder>
    <Runner>fitSharp.Slim.Service.Runner</Runner>
    <XmlOutput>myResult.xml</XmlOutput>
    <runtime>
      <loadFromRemoteSources enabled="true"/>
    </runtime>
  </Settings>
  <FileExclusions>
    <Add>^\.svn$</Add>
  </FileExclusions>
  <Slim.Operators>
    
  </Slim.Operators>
  <Fit.Operators>
    
  </Fit.Operators>
  <runtime>
    <loadFromRemoteSources enabled="true"/>
  </runtime>
</suiteConfig>
